@model TimexGrafo.ViewModels.ItemDetailsViewModel
@{
    ViewData["Title"] = " - " + Model.Item.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Veleprodaja" class="btn btn-info float-right btn-sm" ><i class="fas fa-chevron-left"></i> Nazad na listu</a>
<h2>@Model.Item.Title</h2>
<hr data-aos="fade-down" data-aos-delay="400" class="bg-info float-left" style="width:5%; height:5px;" />
<div class="row mt-5 mb-5">
    <div class="col-md-4 col-10 offset-1 pt-2" >
        <img class="img-fluid border border-light" src="~/lib/images/Veleprodaja/@(Model.Item.Image).jpg" alt="@Model.Item.Title" data-action="zoom"/>
    </div>
    <div class="col-md-6 col-10 offset-sm-1" data-aos="fade-down" data-aos-delay="350">
        <hr />
        <p>Naziv artikla: <b>@Model.Item.Title</b></p>
        <p>Šifra artikla: <b>@Model.Item.ItemCode</b></p>
        <p>Jedinica mere: <b>@Model.Item.Type</b></p>
        <hr />
        <p><i class="fa fa-info-circle text-info"></i> Za više informacija o ceni kontaktirajte nas na:</p>
        <p><b> 060/6129 156 ili 064/0666 664</b></p>
        <p> ili popunjavanjem <a href="/Kontakt">obrasca za kontakt.</a></p>
    </div>

    @*<div class="col-md-6 col-10 offset-sm-1" data-aos="fade-down" data-aos-delay="350">
        <hr/>
        <p>Naziv artikla: <b>@Model.Item.Title</b></p>
        <p>Šifra artikla: <b>@Model.Item.ItemCode</b></p>
        <p>Jedinica mere: <b>@Model.Item.Type</b></p>
        <p>Cena: <b>@Model.Item.FullPrice RSD</b></p>
        <form method="post" asp-action="DodajUKorpu" asp-controller="Korpa">
            <input type="hidden" asp-for="ItemId" value="@Model.Item.Id" />
            <input type="hidden" asp-for="Item" value="@Model.Item" />
            <p class="d-inline">Količina:  </p>
            <div class="number d-inline-block">
                <input asp-for="@Model.Quantity" type="number" value="1" id="selectQuantity" required class="d-inline form-control-sm" min="1" max="9999" />
                <span asp-validation-for="Quantity" class="text-warning"></span>
            </div>
            <button type="submit" class="btn btn-dark btn-sm ml-1 d-block mt-2" id="btnAddToCart"><i class="fas fa-shopping-cart"></i> <p class="d-inline ">Dodaj u korpu </p>  </button>
        </form>
        <hr/>
        <p><i class="fa fa-info-circle text-info"></i> Za više informacija kontaktirajte nas na:</p>
        <p><b> 060/4304 955 ili 060/6129 156</b></p>
        <p> ili popunjavanjem <a href="/Kontakt">obrasca za kontakt.</a></p>
    </div>*@
</div>
